* {
    box-sizing: border-box;
}

#foto-carnet {
    margin-top: 30px;
    width: 30%;
}

#encabezado h1,
#encabezado p {
    text-align: center;
}

#encabezado h1 {
    margin-top: 15px;
}

nav h2 {
    margin-left: 20px;
    margin-top: 6px;
}

#portfolio {
    background-color: rgb(29, 68, 68);
    height: auto;
    margin-top: 50px;
}

#portfolio h2 {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

#portfolio img {
    width: 250px;
    height: auto; 
    border-radius: 20px;
    margin-bottom: 100px;
}
 #portfolio .row {
     justify-content: center;
     gap: 80px;
 }

 #about-me div {
    text-align: center;
    padding: 78px 386px;
 }