* {
    box-sizing:border-box;
}
.container-fluid nav{
    justify-content: space-between;
}
#foto-carnet {
    margin-top: 30px;
    width: 50vh;
}

#encabezado h1,
#encabezado p {
    text-align: center;
}

#encabezado h1 {
    margin-top: 15px;
}

nav h2 {
    margin-left: 20px;
    margin-top: 6px;
}

#portfolio {
    background-color: rgb(29, 68, 68);
    height: auto;
    margin-top: 50px;
}
.centrar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#portfolio h2 {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

#portfolio img {
    width: 250px;
    height: auto; 
    border-radius: 50px;
    margin-bottom: 100px;
}
 #portfolio .row {
     justify-content: center;
     gap: 80px;
 }

 #about-me div {
    text-align: center;
    padding: 78px 386px;
 }

 #contacto {
    background-color: rgb(29, 68, 68);
    text-align: center;
 }

#contacto .formu {
    padding-top: 60px;
    padding-bottom: 60px;
}

#contacto h2 {
    padding-bottom: 30px;
}

#contacto label {
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    height: 150px;
    background-color: #212529;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration:solid;
    border-radius: 50%;
  }

  .social-media,
  .direccion {
      margin: 30px auto;
  }

#contacto label{
    color: white
}

#about-me{
    text-align: center;
}

#about-me h2{
    margin-top: 100px;
}
 
#about-me p{
    padding: 0 50px;
    padding-bottom: 5rem;

} 

a {
    display: inline;
} 